@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap'); /* Titulo de la pagina */
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap'); /* Texto para cuerpo de la pagina */
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-weight: normal;
}

body {
    background-color: #ffffff;
}

.Encabezado {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #ffff1c;
}

.Encabezado h2 {
    font-size: 30px;
    font-family: Anton;
}

.icono-principal {
    margin: 40px;
    position: fixed;
    z-index: 10;
}

.icono-principal img {
    text-align: center top;
    width: 40px;
    cursor: pointer;
}
.titulo-inicial {
    margin-top: 100px;
    margin-left: 10px;
    text-align: center;
}
.titulo-inicial h1{
    color: darkslategrey;
    font-family: fantasy;
    font-size: 50px;
}
.parrafo1{
    padding: 30px 100px;
    display: flex;
    font-size: 25px;
    text-align: justify;
}
.imagen1{
    width:400px ;
}